[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default-authentication-plugin = mysql_native_password
innodb_buffer_pool_size = ${MYSQL_INNODB_BUFFER_POOL_SIZE}
max_connections = ${MYSQL_MAX_CONNECTIONS}
table_open_cache = ${MYSQL_TABLE_OPEN_CACHE}
query_cache_size = ${MYSQL_QUERY_CACHE_SIZE}

[client]
default-character-set = utf8mb4